<div class="footer">
    <span>Copyright © 2022 <%= config.title %></span>
    <span>Original Theme by <a href="https://github.com/zheli-design/hexo-theme-one-paper" target="_blank">Zheli Design</a></span>
</div>

<%- css('css/a11y-dark.min.css') %>
<%- js('js/highlight.min.js') %>
<%- js('js/highlightjs-line-numbers.js') %>

<script>
    hljs.initHighlightingOnLoad();
    hljs.initLineNumbersOnLoad();
</script>
