<div class="post-header">
    <a class="logo" href="<%- url_for() %>"><%= config.title %></a>
    <a class="go-home" href="<%- url_for() %>">
        <svg width="8" height="14" viewBox="0 0 8 14">
            <path d="M7 1L1 7l6 6" stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
</div>